{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="flex mt-10 min-h-full flex-col justify-center px-6 py-12 lg:px-8 mx-auto w-1/4 border border-black shadow-xl ring-1 rounded-lg">
    <form class="space-y-6" action="/forget" method="POST">
        <div class="mt-2">
            <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900">Change Password</h2>
        </div>
        <div class="mt-2">
            <input class="block w-full border border-black p-2 rounded" type="text" name="email" autocomplete="off" required placeholder="Email">
        </div>
        <div class="mt-2">
            <input class="block w-full border border-black p-2 rounded" type="password" name="password" autocomplete="off" required placeholder="Password">
        </div>
        <div class="mt-2">
            <input class="block w-full border border-black p-2 rounded" type="password" name="confirmation" autocomplete="off" required placeholder="Confirm Password">
        </div>
        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-white shadow-xs">Sign in</button>
        </div>
    </form>
</div>
{% endblock %}